@import "bootstrap";

.navbar {
    background-color: black !important;
    }

.nav-link {color : white !important}

#logo{
    float: left;
    font-size: 0.8cm;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;

}

#home_container{margin-top: 25px;}

.jumbotron{

    background-image: asset-url('harry_potter');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}


html,body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

/* Other Classes for Page Styling */

body {
  background:white;
  background: linear-gradient(to right, white, white);
}